@(message: String)
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">@message</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
        <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Lack</h2>
            <p>The fact that something is not available or that there is not enough of it.</p>
            <p><a class="btn btn-secondary" href="https://dictionary.cambridge.org/dictionary/english/lack" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>of</h2>
            <p>Expressing the relationship between a part and a whole. With the word denoting the part functioning as the head of the phrase.</p>
            <p><a class="btn btn-secondary" href="https://en.oxforddictionaries.com/definition/of" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Creativity</h2>
            <p>The ability to produce original and unusual ideas, or to make something new or imaginative.</p>
            <p><a class="btn btn-secondary" href="https://dictionary.cambridge.org/dictionary/english/creativity" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr>

</div> <!-- /container -->